{% extends 'base.html' %} 

{% load humanize %}

{% block content %}

<section>
  <div class="p-5 mb-4 bg-light rounded-3" style="background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold mb-4">Django Jobs. Get Hired Quickly!</h1>

      <p class="card-text">
        <!-- Welcome to Django Job Portal! Search and get your dream job. We have thousands of job offerings for
                you. <br> Don't forget to leave a like when you get a job. Goodluck with your job hunt! -->
        All Available Jobs
      </p>
    </div>
  </div>
</section>

<div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
  {% if jobs %} {% for job in jobs %}
  <div class="col">
    <div class="card h-100" style="background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);">
      <div class="card-body">
        <h5 class="card-title">{{job.title}}</h5>
        <p class="card-text">{{job.city}}</p>
        <p class="card-text">{{job.salary|intcomma}}</p>
        <p class="card-text">Posted by: {{job.company.name}}</p>
        <a href="{% url 'job-details' job.pk %}" class="btn btn-primary">View Details</a>
      </div>
      <div class="card-footer text-muted">Created {{job.timestamp | naturaltime}}</div>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>

{% endblock content %}
