{% extends 'base.html' %}

{% block content %}

{% if request.user.is_applicant %}
{% if not request.user.has_resume %}
<div class="alert alert-danger" role="alert">
    <b>You are seeing this because you have not created a resume. Create one from <a href="{% url 'update-resume' %}">here</a></b>
</div>

{% elif request.user.has_resume %}

<div class="alert alert-primary" role="alert">
    <b>Welcome Back. Click on the Apply for jobs button to see available jobs or Manage applications to see your applied jobs </b>
</div>
{% endif %}
<section style="background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to WorkScout</h1>
            <p class="col-md-8 fs-4"> Applicant Dashboard </p>
        </div>
    </div>
</section> 
{% elif request.user.is_recruiter %}
{% if not request.user.has_company %}
<div class="alert alert-danger" role="alert">
    <b>You are seeing this because you have not created any company. Create one from <a href="{% url 'update-company' %}">here</a></b>
</div>

{% elif request.user.has_company %}

<div class="alert alert-primary" role="alert">
    <b>Welcome Back. Click on the create job ads button to advertise available jobs or Manage jobs to see all applications </b>
</div>

{% endif %}
<section style="background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to WorkScout</h1>
            <p class="col-md-8 fs-4"> Recruiter Dashboard </p>
        </div>
    </div>
</section> 
{% endif %}
{% endblock content %}